<div class="breadcrumbs-cont mb20" itemprop="breadcrumb">
	<div class="crums-wrap clearfix">
		<a href="/{{sphinx_search_query}}" rel="nofollow" class="hidden-xs hidden-sm">Главная</a>
		<a href="/{{sphinx_search_query}}" rel="nofollow" class="hidden-lg hidden-md home-a"><i class="fa fa-home"></i></a>
		{% for crumb in crumbs %}
				<i class="fa fa-angle-right hidden-xs hidden-sm"></i> <a href="{{ url(crumb.uri ~ crumb.query) }}" class="crumbs-item"><span>{{crumb.title}}</span></a>
		{% endfor %}
	</div>
	{% if object.is_published > 0 %}
	<h1 class="captionbold crumbs-h1" style="display: block;" itemprop="name">{{ object.title|e}}</h1>
	{% else %}
	<s class="red"><h1 class="captionbold crumbs-h1 red" style="display: block;" itemprop="name">{{ object.title|e}}</h1></s>
	{% endif %}
	<hr>
</div>

<script>
	var hrefs = $('.crumbs-item').length,
		hrefsWidth = 90 / hrefs;
	if (hrefs == 0) {
		$('.breadcrumb-h1').css('max-width', '70%');
	};
	
	$('.crumbs-item').each(function(){
		$(this).css('max-width', hrefsWidth+'%');
	});
</script>