{% extends "layouts/news/search" %}

{% set theme_class = 'green-dense-theme' %}

{% block css %} 
	{{ parent() }}
{% endblock css%}

{% block js %}
	{{ parent() }}
{% endblock js %}

{% block title %} {{ seo_attributes.title }} {% endblock title%}
{% block meta_description %} {{ seo_attributes.description }} {% endblock meta_description%}

{% block header %}
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'theme_class': theme_class}) }}
		{% block crumbs %} {% include 'search/crumbs' %} {% endblock crumbs %}
		<div class="{{theme_class}}">
		</div><!--skin-theme1-->
{% endblock header %} 


{% block leftside %}
	{% include 'index/promo/left' %}
{% endblock leftside %}

{% block content %}
	<div class="row main_block">
		<div class="col-lg-12">
			{% if isNewsSubcategory == empty %}
				{% include 'index/promo/photo_news' %}
			{% endif %}
			{{ requestblock('block_news/main_page', {'seo_attributes' : seo_attributes, 'itemsPerCategory' : 11, 'catTitle' : catTitle, 'reverse' : true, 'isNewsSubcategory' : isNewsSubcategory}) }}
		</div>

	</div>
{% endblock content%}


{% block rightside %} 
	<div class="right-side hidden-sm hidden-xs">
		<div class="detail_news">
			{% include 'index/promo/news' with {'newsNumber' : 6} %}
		</div>
		{% include 'index/informers' %}
	</div>
{% endblock rightside %}


{% block footertext %} 
	<div class="col-md-12 mb10">
		{{ seo_attributes.footer }}
	</div>
{% endblock footertext %}

{% block footer %}{{ parent() }}{% endblock footer %}
{% block templates %}{{ parent() }}{% endblock templates %}

{%block page_name%}article{% endblock page_name %}