{% extends "layouts/main_with_header" %}

{% block title %}

{% for crumb in crumbs %}
	{% if not crumb.url %}
		{{crumb.title}}
	{% endif %}
{% endfor %}

{% endblock title %}

{% block css %}
	{{ parent() }}
	{{ css("bootstrap.tables.min.css") }}
{% endblock css%}

{% block body %}
	
	{% block header %} 
		{{ parent() }}
	{% endblock header %} 

	{% block crumbs %}
		{% include 'cart/crumbs' %}
	{% endblock crumbs %}

	<div class="row min-content-height">
		<div class="col-md-3">
			{% block leftside %} 
				Левая сторона
			{% endblock leftside %}
		</div><!--col-->
		<div class="col-md-9">
			{% block content %} 
				<div class="{{theme_class}}">
					<div class="menu-cont2 clearfix brt2">&nbsp;</div>
				</div>
			{% endblock content %}
		</div><!--col-->
	</div><!--row-->
	
{% endblock body %} 
{% block footer %}
	{{ parent() }}
{% endblock footer %}
{%block page_name%}cart{% endblock page_name %}