<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<title></title>
</head>
<body style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 14px; margin: 0; padding: 0;">
    
    <table style="max-width: 800px;width:100%;border:0;margin: 0 auto;border-collapse: collapse;">
        <tr style="background: #D90000">
            <td style="padding: 10px;">
                <div class="logo" style="display: inline-block; font-size: 11px; width: 50%;">
                    <img src="{{ domain ? domain : 'http://yarmarka.biz' }}/static/develop/images/Logo_white.png" alt="Ярмарка" style="width: 160px; height: 31px;"><br>
                    <span style="color:white;">Сайт бесплатных объявлений</span>
                </div>
            </td>
            <td  style="padding: 10px;">
                <div class="site" style="display: inline-block; width: 100%; text-align: right; font-size: 13px;" align="right">
                    <a href="{{ email_link(domain, '', ref_params, {'utm_content': 'main'}) }}" style="color: white; line-height:20px;" target="_blank">Перейти на yarmarka.biz</a><br>
                    <a href="{{ email_link(domain, '/add', ref_params, {'utm_content': 'add'}) }}" style="color:white;line-height:20px" target="_blank">Добавить объявление</a>
                </div>
            </td>
        </tr>

        {% block body %}{% endblock body %}
        
        {% if last_news %}
        <tr>
            <td colspan="2" style="padding:10px;">
            <hr>
            <h4>Интересные новости и события в вашем городе</h4>
            <table>
                <tr>
                    {% for object in last_news %}
                         <td class="p5" style="max-width:150px;">
                                <img src="{{ get_file(object.compiled.images.main_photo['120x90']) }}" style="width:120px;display:block;">
                                <a style="color: #08729E;padding:10px 0; font-size:0.7em;display:block;" href="{{ email_link(domain, '/detail/' ~ object.id, ref_params, {'utm_content': 'last_news'}) }}">{{ object.title|slice(0,100) }}</a> 
                         </td>
                    {% endfor %}
                </tr>
            </table>
           </td>
        </tr>

        {% endif %}
        <tr>
            <td colspan="2" style="padding:10px;">
                <div class="footer" style="text-align: right; font-size: 12px; margin: 10px 0;" align="right">С уважением, команда «Ярмарка-онлайн»</div>
                
                <hr size="1" style="color: #6c6c6c;">
                
                <p style="color: #6c6c6c; font-size: 10px;">
                    Пожалуйста, не отвечайте на это письмо, т.к. указанный почтовый адрес используется только для рассылки уведомлений
                </p>
                <p style="color: #6c6c6c; font-size: 10px;">
                    Вы получили это письмо, потому что являетесь пользователем  YARMARKA.BIZ. <a  style="color:#424242;" href="{{ email_link(domain, '/user/email_settings', ref_params, {'utm_content': 'email_settings'}) }}">Настройка email уведомлений</a>
                </p>
                {% if user_email %}
                <p style="color: #6c6c6c; font-size: 10px;">
                    Для <a href="{{ email_link(domain, '/user/login', ref_params, {'utm_content': 'login'}) }}" style="color:#424242;">входа</a> на сайт используйте свою электронную почту <b  style="color:#424242;">{{ user_email }}</b>. 
                    <a href="{{ email_link(domain, '/user/forgot_password', ref_params, {'utm_content': 'forgot_password'}) }}" style="color:#424242;">Забыли пароль?</a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>
