<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<title></title>
</head>
<body style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 14px; margin: 0; padding: 0;">
    
    <table style="max-width: 800px;width:100%;border:0;margin: 0 auto;border-collapse: collapse;">
        <tr style="background: #D90000">
            <td style="padding: 10px;">
                <div class="logo" style="display: inline-block; font-size: 11px; width: 50%;">
                    <img src="{{ domain ? domain : 'http://yarmarka.biz' }}/static/develop/images/Logo_white.png" alt="Ярмарка" style="width: 160px; height: 31px;"><br>
                    <span style="color:white;">Сайт бесплатных объявлений</span>
                </div>
            </td>
            <td  style="padding: 10px;">
                <div class="site" style="display: inline-block; width: 100%; text-align: right; font-size: 13px;" align="right">
                    <a href="{{ email_link(domain, '', ref_params, {'utm_content': 'main'}) }}" style="color: white; line-height:20px;" target="_blank">Перейти на yarmarka.biz</a><br>
                    <a href="{{ email_link(domain, '/add', ref_params, {'utm_content': 'add'}) }}" style="color:white;line-height:20px" target="_blank">Добавить объявление</a>
                </div>
            </td>
        </tr>

        {% block body %}{% endblock body %}
        
        {% if last_news or promo_objects %}
            {% if promo_objects %}
            <tr>
                 <td style="padding:10px;width:100%;vertical-align:top;" colspan="2">
                    <h4 style="background: #2B587A; padding: 10px; text-align: center; color: white; margin: 0; text-transform: uppercase;">Предложения, которые могут быть Вам интересны: </h4>

                    <div class="promos" style="display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; flex-flow: row wrap; margin-right: -10px; margin-left: -10px;">
                        {% for object in promo_objects %}
                            <a style="color: #08729E;padding:0 10px; font-size:12px; width: 33.3%; text-decoration: none; text-align: center; min-height: 200px; box-sizing: border-box; display: block; align-items: stretch; display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; margin-bottom: 10px;" href="{{ email_link(domain, '/detail/' ~ object.id, ref_params, {'utm_content': 'promo_objects'}) }}">
                                <div style="border: 1px solid #ccc; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                    {% if (object.compiled.images.local_photo|length > 0) %}
                                        <img src="{{ get_file(object.compiled.images.main_photo['120x90'], true) }}" style="max-width:100%; display: block; margin: auto; height: 90px;">
                                    {% else %}
                                        <img src="http://yarmarka.biz/static/develop/images/nophoto136x107.png" style="max-width:100%; display: block; margin: auto; height: 90px;">
                                    {% endif %}
                                    <span style="text-decoration: underline;">{{object.title|length > 100 ? object.title|slice(0,100) ~ '...' : object.title}}</span>
                                    <span style="display: block; text-align: center; margin-top: 10px; color: #d90000; font-size: 16px;">{{object.price > 0 ? object.price|number_format(0, ' ', ' ') ~ ' р.' : '&nbsp;'}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
               </td>
            </tr>
            {% endif %}
            {% if last_news %}
            <tr>
                <td style="padding:10px;width:50%;vertical-align:top;" colspan="2">
                    <h4>Новости и события в вашем городе</h4>
                    <table style="width:100%;border:0;margin: 0 auto;border-collapse: collapse;">
                            {% for object in last_news %}
                                <tr>
                                     <td style="width:25%;">
                                           <img src="{{ get_file(object.compiled.images.main_photo['120x90'], true) }}" style="max-width:100%;display:block;">
                                     </td>
                                     <td style="padding:0 5px;">
                                        <a style="color: #08729E;padding:10px 0; font-size:0.85em;display:block;" href="{{ email_link(domain, '/detail/' ~ object.id, ref_params, {'utm_content': 'last_news'}) }}">{{ object.title|slice(0,100) }}</a> 
                                     </td>
                                     <td></td>
                               </tr>
                            {% endfor %}
                    </table>
               </td>
            </tr>
            {% endif %}

        {% endif %}
        <tr>
            <td colspan="2" style="padding:10px;">
                <div class="footer" style="text-align: right; font-size: 12px; margin: 10px 0;" align="right">С уважением, команда «Ярмарка-онлайн»</div>
                
                <hr size="1" style="color: #6c6c6c;">

                <p style="color: #6c6c6c; font-size: 10px;">
                    Пожалуйста, не отвечайте на это письмо, т.к. указанный почтовый адрес используется только для рассылки уведомлений
                </p>
                <p style="color: #6c6c6c; font-size: 10px;">
                    Вы получили это письмо, потому что являетесь пользователем  YARMARKA.BIZ. <a  style="color:#424242;" href="{{ email_link(domain, '/user/email_settings', ref_params, {'utm_content': 'email_settings'}) }}">Настройка email уведомлений</a>
                </p>
                {% if user_email %}
                <p style="color: #6c6c6c; font-size: 10px;">
                    Для <a href="{{ email_link(domain, '/user/login', ref_params, {'utm_content': 'login'}) }}" style="color:#424242;">входа</a> на сайт используйте свою электронную почту <b  style="color:#424242;">{{ user_email }}</b>. 
                    <a href="{{ email_link(domain, '/user/forgot_password', ref_params, {'utm_content': 'forgot_password'}) }}" style="color:#424242;">Забыли пароль?</a>
                </p>
                {% endif %}
                <p>
                    <a href="{{ email_link(domain, '/article/pravila-razmeshcheniya-obyavlenii', ref_params, {'utm_content': 'rules'}) }}" style="color:#424242;font-size: 10px;">Правила размещения объявлений</a>  
                    <a href="http://feedback.yarmarka.biz" style="color:#424242;font-size: 10px;">Техподдержка</a> 
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
