{% extends "layouts/main_with_header" %}

{% block js %}
	{{ parent() }}
{% endblock js %}

{% block body %}
	{% block header %}
		{{ parent() }}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
	{% endblock header %} 

	<div class="row">
		<div class="col-lg-12">
			{% block crumbs %}{% endblock crumbs %}
			{% block subcategories %}{% endblock subcategories %}
		</div>
	</div>

	{% block filters %} 
		Фильтры
	{% endblock filters %}

	<div class="row">
		<div class="col-lg-12">
			{% block control %} 
				
			{% endblock control %}
		</div>
	</div>

	<div class="row min-content-height">
		<div class="col-md-9 main_block">
			{% block content %}
				контент
			{% endblock content %}
			{% block last_views %}
				Последние просмотренные
			{% endblock last_views %}
		</div><!--col-->
		<div class="col-md-3 {% if main_search_result|length > 10 %} right-side {% endif %}">
			{% block rightside %}
				Правая сторона
			{% endblock rightside %}
		</div><!--col-->
	</div><!--row-->

	<div class="row">
		<div class="text-cont module">
			{% block footertext %} 
				сео текст в футере
			{% endblock footertext %}
		</div>
	</div>


{% endblock body %}

{% block footer %}
	{{ parent() }}
{% endblock footer %}

{% block footer_subblocks %}
	
	    <div class="hidden-xs hidden-sm">
	        {{ requestblock('block_category/neiboors_map', {'category': category} ) }}
	    </div>

	    <hr  class="hidden-xs hidden-sm block">

	    <div class="hidden-xs hidden-sm">
	        {{ requestblock('block_category/category_map' ) }}
	    </div>


{% endblock footer_subblocks %}

{%block page_name%}search{% endblock page_name %}