{% extends "layouts/detail/landing" %}

{% set theme_class = 'light-blue-theme' %}

{% block css %} 
	{{ parent() }}
{% endblock css%}

{% block title %} {{object.title|e}} {% endblock title%}
{% block meta_description %} {{ object.user_text|e }} {% endblock meta_description%}

{% block wrapperclass %}page-detail{% endblock wrapperclass %}

{% block header %} 
		{{ requestblock('block_twig/topline', {'favourites':favourites}) }}
		{% include 'block/header/logoline' %}
		{{ requestblock('block_twig/adslinkline',{'city_id': city.id, 'category_id': category.id, 'theme_class': theme_class}) }}
		{% include 'detail/crumbs' %}
{% endblock header %} 

{% macro map(object) %}
    {% include 'detail/landing/map' %}
{% endmacro %}

{% block content %}

	<article class="pl20 pr20">
		{% set main_photo = NULL %}
		{% set logo_photo = object.compiled.images.main_photo %}
		{% for photo in object.compiled.images.local_photo if logo_photo['original'] != photo['original']%}
			{% if loop.index == 1 %}
				{% set main_photo = photo %}
				<div class="images-cont module">
					<div class="image-cont coupon-image-cont">
						<div class="img-wrapper">
							<img alt="{{ object.title|e }}" src="{{ get_file(photo['original']) }}" class="w100p">
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		<div class="text-cont module">
			<div class="text fl w100p" itemprop="description">
			{% set text = NULL %}
			{% if object.compiled.attributes['tekst-obyavleniya'] %}
				{% set text = object.compiled.attributes['tekst-obyavleniya'].value %}
			{% else %}
				{% set text = object.user_text %}
			{% endif %}
			{% if object.compiled.lon %}
			<div class="title_block">
				Наш адрес: {{ object.compiled.attributes['adres-raion'].value }}
			</div>
			<div class="map-bl">													
				<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU&coordorder=latlong" type="text/javascript"></script>
				<script type="text/javascript">
					var map;
					var placemark;

					ymaps.ready(function(){
						map = new ymaps.Map("card-map", {
							center: [{{ object.compiled.lat }}, {{ object.compiled.lon }}],
							zoom: 14
						});

						map.controls.add('zoomControl', { top: 5, left: 5 });
						map.controls.add(new ymaps.control.TypeSelector(['yandex#map', 'yandex#satellite', 'yandex#hybrid', 'yandex#publicMap', 'yandex#publicMapHybrid']));

						placemark = new ymaps.Placemark([{{ object.compiled.lat }}, {{ object.compiled.lon }}], {
							},
							{
								draggable: false,
								iconContentOffset: [],
								hintHideTimeout: 0

							});

						map.geoObjects.add(placemark);
					});

				</script>

				<div id="card-map"  style="width:100%; height:300px">
				</div>
			</div>
			{% endif %}
			{% for image in object.compiled.images.local_photo %}
				{% set vorig = '<img class="w100p" src="/' ~ image["original"] ~ '">' %}
				{% set text = text|replace({'{image}':vorig}) %}
			{% endfor %}
			
			
			{{ text }}
			</div>
		</div>
		{% include 'detail/landing/photo' %}
	</article>
{% endblock %}	

{% block rightside %}
	{% set actionIsActive = TRUE %}
	{% if object.compiled.attributes['kupon_state'] and object.compiled.attributes['kupon_state'].value %}
		{% set actionIsActive = FALSE %}
	{% endif %}
	<aside>
		{% if check_object_access(object, 'object.moderate') %}
			<div class="module">{% include 'detail/kupon/controls' %}</div>
		{% endif %}
		
		<div class="module">{% include 'detail/landing/landing_info' %}</div>
		{% include 'block/vk/comments_surgut' with {'landing' : true} %}
	</aside>
{% endblock rightside %}



