{% extends "layouts/email" %}

{% block body %} 

  <tr>
     <td colspan="2" style="padding:10px;">
         <h2 style="font-size: 1.5em; margin-bottom: 15px;">Объявление {{ is_edit ? 'изменено' : 'создано' }}</h2>
     </td>
  </tr>
  <tr>
     <td colspan="2" style="padding:10px;">
        
         <p>
            Сохраните это письмо, чтобы быстро перейти к <a style="color: #d44234;" href="{{ domain ? domain : 'http://yarmarka.biz' }}/detail/{{ object.id }}">просмотру объявления</a> или <a style="color: #d44234;" href="{{ domain ? domain : 'http://yarmarka.biz' }}/edit/{{ object.id }}">редактированию</a>.
         </p>
         {% if not is_edit %}
         <p>
            Объявление уже  доступно для поиска нашим пользователям. Рекомендуем воспользоваться дополнительными сервисами в <a style="color: #d44234;" href="{{ domain ? domain : 'http://yarmarka.biz' }}/user">личном кабинете</a> для увеличения отклика на ваши объявления.
         </p>
        {% endif %}
     </td>
  </tr>

{% endblock body %}