{% if object.moder_state %}	
	{% if not object.is_bad %}
		{% set ad_state = 'Объявление прошло модерацию' %}
		{% set i_state = 'check' %}
		{% set i_color = 'green' %}
	{% elseif object.is_bad == 1 %}
		{% set ad_state = 'Заблокировано на исправление' %}
		{% set i_state = 'clock-o' %}
		{% set i_color = 'yellow' %}
	{% elseif object.is_bad == 2 %}
		{% set ad_state = 'Заблокировано окончательно' %}
	{% endif %}
	{% else  %}
		{% set ad_state = 'Пока не прошло модерацию' %}
		{% set i_state = 'question' %}
		{% set i_color = 'gray' %}
{% endif %}

<a class="ad-mini-wrap clearfix {% if object.is_premium %}premium{% endif %}" href="{{ object.compiled.url }}">
	{% include 'detail/mini/ad-blocks/thumbnail' %}


	<div class="main-ad-wrap fl">
		<span title="{{ object.title|e }}" class="span-link object-caption bold {% if object.is_published == 0 %} red strike {% endif %}">
			{{ object.title|e }}
		</span> 
		
		{% if object.is_premium %}
		<span class="premium-tape" onclick="javascript:window.location.href = '/commercial/premium'"><i class="fa fa-star" title="Премиум-объявление" aria-hidden="true"></i></span>
		{% endif %}

		<i class="fa fa-{{i_state}} ml5 {{i_color}}" aria-hidden="true" title="{{ad_state}}"></i>
		<div class="clearfix hidden-lg small_visible">
			{% include 'detail/mini/ad-blocks/price' with {'fl_class' : 'fl'} %}
		</div>



		{% if object.is_premium %}
		<p class="date fs12 hidden-lg small_visible"><span>{{ object.compiled.city }}</span></p>
		{% else %}
		<p class="date fs12 hidden-lg small_visible"><span>{{ object.date_created|date("d.m") }} / {{ object.compiled.city }}</span> </p>
		{% endif %}



		{% include 'detail/mini/ad-blocks/attributes' %}

	</div>


	<div class="info-wrap fr small_hidden">

		<div class="ta-r">
			{% set is_favourite = 'fa-heart-o' %}
			{% if object.id in favourites %}
			{% set is_favourite = 'fa-heart' %}
			{% endif %}
			<i class="fa {{is_favourite}} fa-lg mr5 js-favourite js-favourite-ico pointer red" data-id="{{object.id}}" title="В избранное"></i>
		</div>

		<div class="clearfix ta-r" style="position: absolute;top: 10px;right: 40px;">
			{% set services = get_service_icon_info(object.compiled.services, check_access("object.moderate")) %}
			{% for services in services %}
				<i class="fa {{ services.icon_class }} fa-lg gray ml5" title="{{services.title}}"></i>
			{% endfor %}
		</div>

		<div class="clearfix small_hidden">
			{% include 'detail/mini/ad-blocks/price' %}

			{% if object.compiled.attributes['price-per-square'].value > 0 %}
				<span class="price square_price w100p">{{object.compiled.attributes['price-per-square'].value|number_format(0, ' ', ' ')}} <i class="fa fa-rub" aria-hidden="true"></i>/кв<sup>2</sup></span>
			{% else %}
				<span class="price square_price w100p">&nbsp;</span>
			{% endif %}
		</div>

		{% if object.is_premium %}
			<p class="date fs12 ta-r small_hidden"><span>{{ object.compiled.city }}</span></p>
		{% else %}
			<p class="date fs12 ta-r small_hidden"><span>{{ object.date_created|date("d.m") }} / {{ object.compiled.city }}</span> </p>
		{% endif %}
	</div>

</a>