<div class="org-about">
	<div class="row">
		{% if user.filename %}
			{% set logo = get_image_paths(user.filename) %}
			<div class="col-md-3">
				<img src="{{  get_file(logo['341x256']) }}" alt="">
			</div>
		{% endif %}
		<div class="col-md-5">
			<p class="org_contacts clearfix">
				<span class="dib"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
				<span class="dib">{{(user.address) ? user.address : 'Нет данных'}}</span>
			</p>
			<p class="org_contacts clearfix">
				<span class="dib"><i class="fa fa-phone" aria-hidden="true"></i></span>
				<span class="dib">{{(user.phone) ? user.phone : 'Нет данных'}}</span>
			</p>
		</div>
		<div class="col-md-4 {% if user.filename is null %} col-md-push-3 {% endif %}">
			<div class="regdate">
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
				<p class="ta-c">На Ярмарке с {{user.regdate|date('Y')}} года</p>
			</div>
		</div>
	</div>
	{% if user.about %}
	<div class="row">
		<div class="col-md-12">
			<div class="org_text mt15">
				<span class="fs18 mb10 dib">О компании</span>
				<p>{{user.about}}</p>
			</div>
		</div>
	</div>
	{% endif %}
</div>