<!--noindex-->
<div class="reklama-cont brt2 module hidden-xxs">
	{% if imagelinks|length > 0 %}

		<div id="reklama_container" class="reklama-line banners js-adslink-graphic clearfix">
			{% set length = 4 %}
			
			{% for i in 0..(length - 1) %}

				{% set link = imagelinks|slice(i,1) %}

				{% if link|length > 0 %}
					{% set link = link|first %}
					{% if link.type == 3 %}
						{% set count_words = link.title|length %}
						<a class="db clearfix tg-link" href="{{ link.link }}" target="_blank" data-id="{{ link.id }}" {% if link.nofollow %}rel="nofollow"{% endif %}>
							<p style="display:block;width:80px;position:relative;">
								<img src="{{ '/static/develop/images/tglink/' ~ link.class ~ '.jpg' }}" class="hidden-sm"/>
								<span class="bold" style="position:absolute;left:0;top:{{ count_words < 13 ? '10px': '4px'}};right:0;bottom:0;text-align:center;color:white;">{{ link.title }}</span>
							</p>
							<span class="fs12 fl w50p h50 oh">{{ link.object_title|slice(0,30) }}</span>
						</a>
					{% else %}
						<a class="db clearfix tg-link" href="{{ link.link }}" target="_blank" data-id="{{ link.id }}" {% if link.nofollow %}rel="nofollow"{% endif %}>
							<img src="{{ '/./uploads/banners/' ~ link.image }}" class="hidden-sm"/>
							<span class="fs12 fl w50p h50 oh">{{ link.title }}</span>
						</a>
					{% endif %}
					
				{% elseif loop.index != 3 %}
					<a class="db clearfix tg-link" href="/commercial/target"  target="_blank">
						<img src="{{ staticfile('images/empty_ads.png') }}" class="fl hidden-md hidden-sm hidden-xs hidden-xxs"/>
						<span class="fs12 fl w50p oh">Рекламное место свободно</span>
					</a>
				{% elseif loop.index == 3 %}
					<div class="db clearfix tg-link google-link js-ga-topline" style="height: 60px;"></div>
				{% endif %} 

			{% endfor  %}

		</div>


		<span class="notice-bg how-to-buy hidden">как купить</span>
	{% endif %}
</div><!--reklama-cont-->
<!--/noindex-->
