<!--noindex-->
<div class="reklama-cont brt2 module hidden-xxs">
	{% if imagelinks|length > 0 %}

		<div id="reklama_container" class="reklama-line banners js-adslink-graphic clearfix">
			{% set length = 4 %}
			
			{% for i in 0..(length - 1) %}

				{% set link = imagelinks|slice(i,1) %}

				{% if link|length > 0 %}
					{% set link = link|first %}
					<a class="db clearfix tg-link" href="{{ link.link }}" target="_blank" data-id="{{ link.id }}" {% if link.nofollow %}rel="nofollow"{% endif %}>
						<img src="{{ '/./uploads/banners/' ~ link.image }}" class="hidden-sm"/>
						<span class="fs12 fl w50p h50 oh">{{ link.title }}</span>
					</a>
				{% elseif loop.index != 3 %}
					<a class="db clearfix tg-link" href="/commercial/target"  target="_blank">
						<img src="{{ staticfile('images/empty_ads.png') }}" class="fl hidden-md hidden-sm hidden-xs hidden-xxs"/>
						<span class="fs12 fl w50p oh">Рекламное место свободно</span>
					</a>
				{% elseif loop.index == 3 %}
					<div class="db clearfix tg-link google-link js-ga-topline" style="height: 60px;"></div>
				{% endif %} 

			{% endfor  %}

		</div>


		<span class="notice-bg how-to-buy hidden">как купить</span>
	{% endif %}
</div><!--reklama-cont-->
<!--/noindex-->
