<div class="top-line module menu-cont2 hidden-sm hidden-xs" style="background: transparent; padding: 0;">
	<div class="row">
		<div class="col-md-2">
			{% if onPageFlag == 'main' %}
				<div class="menu-item-wrp iLight hidden-sm hidden-xs top-razdel" onclick="animated('.left_block', 'shake')" >
				{% else %}
				<div class="menu-item-wrp iLight hidden-sm hidden-xs top-razdel js-mainmenu-dropdown" >
				{% endif %}
					<span class="menu-item-cont">Объявления{% if onPageFlag != 'main' %}<i class="fa fa-caret-down ml3"></i>{% endif %}</span>
				</div>
		</div>
		<div class="col-md-8">
			<!--/noindex-->
			<div class="search-cont">
				<div class="seach-bl">
					<form action="/glavnaya-kategoriya" method="get" name="search-form" id="search-form" class="clearfix js-search-form">
							
						<input class="search placeholder form-control js-search-input" name="search" id="search-input" value="{{ search_text }}" type="text" placeholder="{% if get_session_value('site_disable') %}Сайт в режиме разработки.{% else %}Поиск объявлений{% endif %}" autocomplete="off" data-city="{{city.id}}">
						{% set catTitle = "" %}
						{% for category in get_categories() %}
							{% if category_id == category.id %}
								{% set catTitle = category.title %}
							{% endif %}
						{% endfor %}
							<div data-role="categories" data-value="1" data-url="glavnaya-kategoriya" class="accordeon-menu bbn brt2 brb2 w100p">
								<div class="sign_icon">
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</div>
								<div class="current_value bbn">{% if catTitle %}{{catTitle}}{% else %}Все объявления{% endif %}</div>

								<div class="select_wrap hidden">
									<div class="option" data-value="1" data-url="glavnaya-kategoriya">Все объявления</div>
									{% for category in get_categories() %}
										{% if category.childs and category.id != 1 %}
										<div class="optgroup">
											<div class="sign_icon">
												<i class="fa fa-plus-square-o" aria-hidden="true"></i>
											</div>
											<div class="optgroup_value">{{ category.title }}</div>
											{% for subcategory in category.childs %}
												<div class="option hidden" data-url="{{subcategory.url}}" data-value="{{ subcategory.id }}">{{subcategory.title}}</div>
											{% endfor %}
										</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
							<div class="input-group-addon clearfix">
								<button class="button bg-color-crimson button-style1" type="submit"><i class="fa fa-search fa-lg"></i></button>
							</div>
						</div>
					</form>
					<div class="search-popup border-color-crimson js-search-popup-cont find-list">
					</div>
				</div>
			</div>
			<!--/noindex-->
			<div class="col-md-2">
				<a class="button w100p dib bg-color-crimson add-advert white ta-c pointer" href="/add" rel="nofollow">Подать объявление</a>
			</div>

	</div>
</div>
